@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
/* @import "tailwindcss/preflight.css" layer(base); */
@import "tailwindcss/utilities.css" layer(utilities);

@theme {
    --color-nav: #1B1512;

    --color-hackclub-red: var(--red);
    --color-hackclub-orange: var(--orange);
    --color-hackclub-yellow: var(--yellow);
    --color-hackclub-green: var(--green);
    --color-hackclub-cyan: var(--cyan);
    --color-hackclub-blue: var(--blue);
    --color-hackclub-purple: var(--purple);
    --color-hackclub-slate: var(--slate);
    --color-hackclub-steel: var(--steel);
    --color-hackclub-darkless: var(--darkless);
    --color-hackclub-smoke: var(--smoke);
    --color-hackclub-snow: var(--snow);

    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-card: var(--dark);
    --color-card-foreground: var(--snow);
}

@source inline("shadow-hackclub-{red,orange,yellow,green,cyan,blue,purple,slate,steel,darkless,smoke,snow}/{50}");
@source inline("text-hackclub-{red,orange,yellow,green,cyan,blue,purple,slate,steel,darkless,smoke,snow}");


.text-gradient-primary {
    @apply font-bold text-transparent;
    background: linear-gradient(135deg, var(--orange), var(--red));
    background-clip: text;
}

.bg-gradient-primary {
    background: linear-gradient(135deg, var(--orange), var(--red));
}

html,
body {
    background-color: var(--color-black);
    color: var(--white);
}